* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1e1e1e;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff4d8d;
}

form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  margin-bottom: 2rem;
}

input[type="search"] {
  padding: 0.5rem;
  width: 300px;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #ff4d8d;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

button.hover {
  background-color: #e63e7a;
}

input, button {
  border-radius: 4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.col {
  flex: 0 0 23%;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

input[type="search"] {
  background-color: #2a2a2a;
  color: #ffffff;
  border: 1px solid #444;
}

.intro {
  text-align: center;
  margin: 2rem 0;
  color: #ccc;

  p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
  }
}



@media (max-width: 320px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  form {
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex: 0 0 100%;
  }
}
